*{
    padding: 0;
    margin: 0;
    outline: 2px solid rgb(50, 231, 255);
    font-family: Noto Sans JP;
    font-style: normal;
}

:root{
    /* Colors */
    --color: #FF3333;
    --color1: #FFFFFF;
    --color2: #CCCCCC;
    --color3: #333366;
}

body {
    background-color: var(--color3);  
    height: 1050px;;
}

/* ヘッダー */
header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 102, 0.5);
    backdrop-filter: blur(10px);
}
.header-section{
    width: 1450px; 
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
/* ロゴマーク */
.logo img{
    height: 100px;
    line-height: 100px;
}

/* ヘッダー内メインリンク */
.header-main-link{
    margin: 0 0 0 auto;
}
ul{
    display: flex;
    list-style: none;
}

/* メイン部 */
main{
    width: 100%;
    min-height: 130vh;
    margin-top: 150px;
    /* position: relative; */
}



/* ↓ ここから編集 */
/* セレクト部 */
.select-section{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.select-group{
    width: 1450px;
    height: 55px;
    margin: 0 auto;
    display: flex;
}
.select-item{
    height: 55px;
}
.select-item select{
    width: 640px;
    text-align-last: center
}

/* 再生・一時停止ボタン */
.movie-button{
    margin-left: 170px;
    display: flex
}
.button-group{
    display: flex;
}
button{
    height: 55px;
    line-height: 55px;
    align-items: center;
    display: flex;
    padding: 0 20px;
    margin-right: 6px;
    background-color: var(--color);
    color: var(--color1);
    font-size: 20px;
    font-weight: 700;
}
.button-item img {
    height: 25px;
    margin-left: 10px;
}

/* 動画表示・レッスン部 */
.lesson-group{
    width: 1450px;
    display: flex;
    margin: 0 auto;
}
.lesson-item{
    /* margin: auto; */
}
.left{
    margin-left: 0;
}
.right{
    text-align: right;
}

.score-section{
    width: 100%;
}
.score-board{
    width: 1450px;
    margin: 0 auto;
    color: var(--color1);

}


/* ↑ ここまで編集 */
/* フッター */
footer {
    width: 100%;
    height: 50px;
    text-align: center;
    color: var(--color3);
    background-color: var(--color2);

}
.footer-item{
    width: 100%;
    line-height: 50px;
    /* position: absolute; */
}


/* メインページリンク */
.to-main{
    display: flex;
}
.to-main a{
    line-height: 20px;
    padding: 15px 20px; 
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: var(--color1);
    background-color: var(--color);
}
.to-main .link-group {
    display: flex;
    align-items: center;
}
.to-main img {
    width: 30px;
    margin-left: 10px;
}

